/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Oregano&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

:root {
    /* Colours */
    --colourWhite: #ffffff;
    --darkColour: #3F403F;
    --primaryColour: #475841;
    --secondaryColour: #C78283;
    --lightGreen: #B7C6B2;
    --whiteGreen: #D6E0D4;

    /* Font Size */
    --fontSizeS: 0.9rem;
    --fontSizeN: 1rem;
    --fontSizeM: 1.12rem;
    --fontSizeL: 1.5rem;
    --fontSizeXL: 2rem;
    --fontSizeXXL: 2.3rem;

    /* Font Weight */
    --fontWeightNormal: 400;
    --fontWeightMedium: 500;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;

    /* Border Radius */
    --borderRadS: 8px;
    --borderRadM: 30px;
    --borderRadCircle: 50%;

    /* Site Max Width */
    --siteMaxWidth: 1300px; 
}

@media (prefers-color-scheme: dark) {
  :root:not(.light-mode) {
    --primaryColour: #8FBC8F;
    --secondaryColour: #FFB6B6;
    --whiteGreen: #F2F2F7;
    --darkColour: #1C1C1E;
    --lightGreen: #2C2C2E;

    --bgDark: #1C1C1E;
    --bgSurface: #2C2C2E;
    --textLight: #F2F2F7;
    --textMuted: #A1A1AA;
    --borderDark: #3A3A3C;
    --hoverDark: #3E4E3E;
    --linkDark: #9AD1D4;
  }
}

/* General Styling */
body.dark-mode {
  --primaryColour: #0d0d0d;        /* Very dark background for header/nav */
  --secondaryColour: #1f1f1f;      /* Slight contrast, still very dark */
  --whiteGreen: #eaeaea;           /* Light text */
  --darkColour: #000000;           /* True black for main background */
  --lightGreen: #1a1a1a;           /* Section backgrounds (slight contrast) */

  --bgDark: #000000;               /* Page background */
  --bgSurface: #111111;            /* Surface elements like cards */
  --textLight: #f5f5f5;            /* Main body text */
  --textMuted: #999999;            /* Subtext or muted labels */
  --borderDark: #2a2a2a;           /* Border lines */
  --hoverDark: #222222;            /* Button hover background */
  --linkDark: #33b5e5;             /* Accent for links (bright blue) */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.sectionContent {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--siteMaxWidth);
}

/* Navbar Styling */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primaryColour);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .navLogo .logoText {
    color: var(--whiteGreen);
    font-size: var(--fontSizeXL);
    font-weight: var(--fontWeightSemiBold)
}

.navbar .navItems{
    display: flex;
    gap: 10px;
}

.navbar .navItems .navLink {
    padding: 6px 10px;
    color: var(--whiteGreen);
    font-size: var(--fontSizeM);
    border-radius: var(--borderRadM);
    transition: 0.3s ease;
}

.navbar .navItems .navLink:hover {
    color: var(--primaryColour);
    background: var(--secondaryColour);
}
.navbar .navItems .themeButton .themeIcon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.navbar .navItems .themeButton .themeIcon:hover {
    transform: scale(1.1);
}

/* Hero Section Styling */
.mainheroSection {
    display: flex;
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;
    width: 100%;             
    background: var(--primaryColour);
    text-align: center;
    padding: 0, 20px;       
}

.mainheroSection .sectionContent {
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 40px;                
    width: 100%;              
    max-width: var(--siteMaxWidth);
    margin: 0, auto;           
    color: var(--whiteGreen);
    text-align: center;
}

.mainheroSection .sectionContent .heroDetails {
    max-width: 800px;         /* Limit the width of the text content */
    text-align: center;
}

.mainheroSection .sectionContent .heroDetails .title {
    margin-top: 0px;
    font-size: var(--fontSizeXXL);
    color: var(--secondaryColour);
    font-family: "Lexend", sans-serif;
}

.mainheroSection .sectionContent .heroDetails .subtitle {
    margin: 10px;
    max-width: 60%;
    font-size: var(--fontSizeM);
    font-weight: var(--fontWeightSemiBold);
}

.mainheroSection .sectionContent .heroDetails .buttons {
    display: flex;
    /* margin: 100px, 0px, 20px; */
}

.mainheroSection .sectionContent .heroDetails .button {
    margin: 100px, 0px, 20px;
    padding: 5px, 10px;
    border: 2px solid transparent;
    color: var(--primaryColour);
    border-radius: var(--borderRadM);
    background: var(--secondaryColour);
    font-weight: var(--fontWeightMedium);
}

.mainheroSection .sectionContent .heroImgWrapper {
    max-width: 300px;
    margin: 0;                
    display: block;
}

/* About Section Styling */
.aboutSection {
    padding: 80px, 0px;
    background: var(--whiteGreen);
    color: var(--darkColour);
}

.aboutSection .sectionTitle {
    font-size: var(--fontSizeXXL);
    font-size: var(--fontSizeXL);
    margin-bottom: 20px;
    font-weight: var(--fontWeightBold);
    color: var(--primaryColour);
}

.aboutSection .aboutText {
    font-size: var(--fontSizeM);
    line-height: 1.5;
    max-width: 800px;
}

/* Contact Section Styling */
.contactSection {
    padding: 120px;
    background: var(--whiteGreen);
    color: var(--darkColour);
    text-align: center;
}

.contactSection .sectionTitle {
    font-size: var(--fontSizeXXL);
    font-weight: var(--fontWeightBold);
    color: var(--primaryColour);
    margin-bottom: 30px;
}

.contactSection .contactInfo {
    margin-bottom: 40px;
    font-size: var(--fontSizeM);
    max-width: 600px;
    margin: 0 auto;
}

.contactSection .contactInfo h3 {
    font-size: var(--fontSizeL);
    font-weight: var(--fontWeightMedium);
    margin-bottom: 20px;
}

.contactSection .contactInfo p {
    margin-bottom: 10px;
}

.contactSection .contactInfo ul {
    list-style: none;
    padding: 0;
    text-align: center;
    line-height: 1.8;
}

.contactSection .contactInfo ul li {
    font-size: var(--fontSizeS);
}

.contactSection .contactInfo a {
    color: var(--primaryColour);
    text-decoration: none;
}

.contactSection .contactForm {
    margin-top: 40px;
}

.contactSection .contactForm h3 {
    font-size: var(--fontSizeL);
    font-weight: var(--fontWeightMedium);
    margin-bottom: 20px;
}

.contactSection .contactForm .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.contactSection .contactForm label {
    font-size: var(--fontSizeM);
    font-weight: var(--fontWeightMedium);
    text-align: left;
}

.contactSection .contactForm input,
.contactSection .contactForm textarea {
    padding: 10px;
    font-size: var(--fontSizeM);
    border: 2px solid var(--primaryColour);
    border-radius: var(--borderRadS);
}

.contactSection .contactForm button {
    padding: 12px 25px;
    background: var(--primaryColour);
    color: var(--whiteGreen);
    border: none;
    border-radius: var(--borderRadM);
    font-size: var(--fontSizeM);
    font-weight: var(--fontWeightBold);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contactSection .contactForm button:hover {
    color: var(--primaryColour);
    background: var(--secondaryColour);
}

/* Footer Styling */
.footer {
    background-color: var(--primaryColour);
    color: var(--whiteGreen);
    padding: 40px 0;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footerLeft h3 {
    font-size: var(--fontSizeL);
    margin-bottom: 10px;
}

.footerSocialLinks {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.footerSocialLinks .socialIcon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.footerSocialLinks .socialIcon:hover {
    transform: scale(1.1);
}

.notImplementedSection {
    padding: 120px;
    padding-top: 220px;
    padding-bottom: 250px;
    background: var(--whiteGreen);
    color: var(--darkColour);
    text-align: center;
}

.notImplementedSection .sectionTitle {
    font-size: var(--fontSizeXXL);
    font-weight: var(--fontWeightBold);
    color: var(--primaryColour);
    margin-bottom: 30px;
}

.notImplementedSection .goBack {
    margin-bottom: 20px;
    font-size: var(--fontSizeM);
    max-width: 600px;
    margin: 0 auto;
}

.notImplementedSection .goBack h3 {
    font-size: var(--fontSizeL);
    font-weight: var(--fontWeightMedium);
    margin-bottom: 20px;
}

.notImplementedSection .goBack .homeButton {
    padding:6px 20px;
    background: var(--primaryColour);
    color: var(--whiteGreen);
    border: none;
    border-radius: var(--borderRadM);
    font-size: var(--fontSizeM);
    font-weight: var(--fontWeightBold);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.notImplementedSection .goBack .homeButton:hover {
    color: var(--whiteGreen);
    background: var(--secondaryColour);
}


